Sample_WCF/Service References/MyFirstWCFTestService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
  <xs:element name="UrNameIs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="sample" nillable="true" type="q1:Name" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UrNameIsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UrNameIsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>